/* Généralités */
#corps_page{
    margin: 1em 15vw 1em 15vw;
}
/* Fin des généralités */


/* Partie liste des logements */
#liste_logements{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.logement{
    height: 10%;
    max-width: 20vw;
    margin-top: 3em;
    background-color: white;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    border: 2px solid black;
}
.logement:nth-child(3n+1){   
    margin-right: 4vw;
}
.logement:nth-child(3n+2){   
    margin-right: 4vw;
}
.logement_img{
    max-width: 20vw;
    height: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.logement_information{
    width: 100%;
    text-align: center;
    max-height: 15vh;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top: 2px solid black;
}
/* Fin partie liste des logements */


/* Partie formulaire */
#formulaire_filtre .filtre_form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
/* Fin partie formulaire */