/* Généralités */
#corps_page{
    display: flex;
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
}
/* Fin des généralités */


/* Partie liste des logements */
#liste_logements{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.logement{
    width: 30%;
    margin-top: 3em;
    background-color: white;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
}
.logement:nth-child(3n+1){   
    margin-right: 5%;
}
.logement:nth-child(3n+2){   
    margin-right: 5%;
}
.logement_img{
    width: 100%;
    height: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border: 2px solid black;
}

.logement_information{
    width: 100%;
    text-align: center;
    max-height: 15vh;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 2px solid black;
}
/* Fin partie liste des logements */


/* Partie formulaire */
#formulaire_filtre {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 3em;
    padding-right: 5vw;
    width: auto;
}
/* Fin partie formulaire */